
.page {
    margin: 0;
}

.page__page-header {
    margin: 0;
    padding: auto 0;
    width: 100%;
    height: 88px;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-header__button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.page-header__button_menu {
    background-image: url(../imgs/icons/menu.svg);
}
.page-header___button_repair {
    background-image: url(../imgs/icons/repair.svg);
}
.page-header___button_search {
    background-image: url(../imgs/icons/search.svg);
}

._vertical-divider {
    background: url(../imgs/divider.svg) no-repeat right;
    float: right;
    padding-right: 20px;
}

.main {
    font-family: TT Lakes;
}

.page__main {
    width: 100vw;
    background-color: #F8F8F8;
}

.title {
    display: flex;
}

.main__title {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.main__title::before {
    content: "";
    background: url(../imgs/highlight.svg) no-repeat center;
    background-size: contain;
    width: 4px;
    height: 40px;
    margin-right: 5px;
    float: left;
}

.main__side-menu {
    margin: 0px 16px 16px;
    /*
    border-right: 24px solid transparent; 
    border-image: url(../imgs/fade.svg); 
    */
}

.side-menu {
    display: flex;
    overflow-x: scroll;
    gap: 5px;
}

.side-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.side-menu__nav-button {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    padding: 5px 15px;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.main__content {

}

.content__content-img:last-child {
    width: inherit;
}



.content__text {
    margin: 0 16px 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    min-height: 40%;

    display: inline-block;
}

.content__show-more {
    margin-top: 16px;
}

.show-more {
    /* Читать далее */
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    font-weight: medium;
    background-color: inherit;
    border: none;
    /* identical to box height, or 150% */
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.show-more::before {
    content: "";
    background: url(../imgs/read-more-label.svg) no-repeat;
    display: inline-block;
    width: 16px;
    height: 12px;
}


